[submodule "Foundry/FundMe/lib/forge-std"]
	path = Foundry/FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/FundMe/lib/chainlink-brownie-contracts"]
	path = Foundry/FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/FundMe/lib/foundry-devops"]
	path = Foundry/FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry/SmartContractLottery/lib/forge-std"]
	path = Foundry/SmartContractLottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/SmartContractLottery/lib/chainlink-brownie-contracts"]
	path = Foundry/SmartContractLottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/SmartContractLottery/lib/solmate"]
	path = Foundry/SmartContractLottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Foundry/SmartContractLottery/lib/foundry-devops"]
	path = Foundry/SmartContractLottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
